@font-face {
  font-family: "action_manbold";
  src: url("../../fonts/actionman/Action_Man_Bold-webfont.eot");
  src: url("../../fonts/actionman/Action_Man_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/actionman/Action_Man_Bold-webfont.woff2") format("woff2"), url("../../fonts/actionman/Action_Man_Bold-webfont.woff") format("woff"), url("../../fonts/actionman/Action_Man_Bold-webfont.ttf") format("truetype"), url("../../fonts/actionman/Action_Man_Bold-webfont.svg#action_manbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KaushanScript";
  src: url("../../fonts/kaushan/KaushanScript-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GreatVibes";
  src: url("../../fonts/greatvibes/GreatVibes-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sofia";
  src: url("../../fonts/sofia/Sofia-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.25);
    opacity: 0.7;
  }
}
@keyframes point {
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes soulignement {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
}

.header {
  position: relative;
  bottom: 30px;
  color: #FFCA28;
  background-color: #368062;
}
.header__heading {
  font-size: 3.5em;
  text-align: center;
  padding: 0.3em;
}
@media (max-width: 599px) {
  .header__heading {
    font-size: 2.5em;
  }
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  color: #FFCA28;
  background-color: #368062;
}
.footer__element {
  display: flex;
  justify-content: space-between;
}
.footer__mention {
  margin: 10px 0px 10px 20px;
  font-size: 1.75em;
}
.footer__mention:hover {
  animation: headshake 150ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3;
}
@media (max-width: 599px) {
  .footer__mention {
    font-size: 1.25em;
  }
}
.footer__contact {
  margin: 10px 20px 10px 0px;
  font-size: 1.75em;
  right: 0px;
}
.footer__contact:hover {
  animation: headshake 150ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3;
}
@media (max-width: 599px) {
  .footer__contact {
    font-size: 1.25em;
  }
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2.5em;
  padding: 30px;
}
@media (max-width: 599px) {
  h3 {
    font-size: 1.5em;
    padding-bottom: 10px;
  }
}

h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
}
h4:hover + .soulignement {
  transform: scalex(1);
}
@media (max-width: 599px) {
  h4 {
    font-size: 1em;
  }
}

.h4__note::before {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  margin-left: 40px;
  height: 2px;
  background: black;
  top: 15px;
  border: 0.1px solid black;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__note::before {
    width: 8%;
    margin-left: 20px;
    top: 12px;
  }
}
.h4__note::after {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  height: 2px;
  background: black;
  bottom: 18px;
  left: 70%;
  border: 0.1px solid black;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__note::after {
    width: 8%;
    bottom: 12px;
    left: 84%;
  }
}
.h4__chic1::before {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  margin-left: 40px;
  height: 2px;
  background: #D8852E;
  top: 15px;
  border: 0.1px solid #D8852E;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__chic1::before {
    width: 8%;
    margin-left: 20px;
    top: 12px;
  }
}
.h4__chic1::after {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  height: 2px;
  background: #D8852E;
  bottom: 20px;
  left: 70%;
  border: 0.1px solid #D8852E;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__chic1::after {
    width: 8%;
    bottom: 12px;
    left: 84%;
  }
}
.h4__chic2::before {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  margin-left: 40px;
  height: 2px;
  background: #A56799;
  top: 15px;
  border: 0.1px solid #A56799;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__chic2::before {
    width: 8%;
    margin-left: 20px;
    top: 12px;
  }
}
.h4__chic2::after {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  height: 2px;
  background: #A56799;
  bottom: 20px;
  left: 70%;
  border: 0.1px solid #A56799;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__chic2::after {
    width: 8%;
    bottom: 12px;
    left: 84%;
  }
}
.h4__chic3::before {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  margin-left: 40px;
  height: 2px;
  background: #905BFD;
  top: 15px;
  border: 0.1px solid #905BFD;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__chic3::before {
    width: 8%;
    margin-left: 20px;
    top: 12px;
  }
}
.h4__chic3::after {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  height: 2px;
  background: #905BFD;
  bottom: 20px;
  left: 70%;
  border: 0.1px solid #905BFD;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__chic3::after {
    width: 8%;
    bottom: 12px;
    left: 84%;
  }
}
.h4__delice1::before {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  margin-left: 40px;
  height: 2px;
  background: #0431DF;
  top: 20px;
  border: 0.1px solid #0431DF;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__delice1::before {
    width: 8%;
    margin-left: 20px;
    top: 15px;
  }
}
.h4__delice1::after {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  height: 2px;
  background: #0431DF;
  bottom: 20px;
  left: 70%;
  border: 0.1px solid #0431DF;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__delice1::after {
    width: 8%;
    bottom: 12px;
    left: 84%;
  }
}
.h4__delice2::before {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  margin-left: 40px;
  height: 2px;
  background: #0670F3;
  top: 20px;
  border: 0.1px solid #0670F3;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__delice2::before {
    width: 8%;
    margin-left: 20px;
    top: 15px;
  }
}
.h4__delice2::after {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  height: 2px;
  background: #0670F3;
  bottom: 20px;
  left: 70%;
  border: 0.1px solid #0670F3;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__delice2::after {
    width: 8%;
    bottom: 12px;
    left: 84%;
  }
}
.h4__delice3::before {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  margin-left: 40px;
  height: 2px;
  background: #00B3F9;
  top: 20px;
  border: 0.1px solid #00B3F9;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__delice3::before {
    width: 8%;
    margin-left: 20px;
    top: 15px;
  }
}
.h4__delice3::after {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  height: 2px;
  background: #00B3F9;
  bottom: 20px;
  left: 70%;
  border: 0.1px solid #00B3F9;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__delice3::after {
    width: 8%;
    bottom: 12px;
    left: 84%;
  }
}
.h4__palette::before {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  margin-left: 40px;
  height: 2px;
  background: linear-gradient(to right, #3E923A, 40%, #BEFF7F);
  top: 25px;
  border: display;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__palette::before {
    width: 8%;
    margin-left: 20px;
    top: 15px;
  }
}
.h4__palette::after {
  content: "";
  display: flex;
  position: relative;
  width: 25%;
  height: 2px;
  background: linear-gradient(to right, #3E923A, 40%, #BEFF7F);
  bottom: 17px;
  left: 70%;
  border: display;
  border-radius: 100px;
}
@media (max-width: 599px) {
  .h4__palette::after {
    width: 8%;
    bottom: 12px;
    left: 84%;
  }
}
.h4__palette::after {
  background: linear-gradient(to right, #BEFF7F, 70%, #3E923A);
}

.soulignement {
  position: relative;
  margin: auto;
  bottom: 22px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 600ms;
  border-top: 2px solid;
}
.soulignement__note1 {
  border-color: black;
  width: 15%;
}
.soulignement__note2 {
  border-color: black;
  width: 25%;
}
.soulignement__note3 {
  border-color: black;
  width: 30%;
}
.soulignement__chic1 {
  border-color: #D8852E;
  width: 28%;
}
.soulignement__chic2 {
  border-color: #A56799;
  width: 23%;
}
.soulignement__chic3 {
  border-color: #905BFD;
  width: 23%;
}
.soulignement__palette1 {
  border-color: black;
  width: 15%;
}
.soulignement__palette2 {
  border-color: black;
  width: 28%;
}
.soulignement__palette3 {
  border-color: black;
  width: 30%;
}
.soulignement__delice1 {
  border-color: black;
  width: 30%;
}
.soulignement__delice2 {
  border-color: black;
  width: 28%;
}
.soulignement__delice3 {
  border-color: black;
  width: 28%;
}

h5 {
  font-size: 2em;
  padding: 30px;
}
@media (max-width: 599px) {
  h5 {
    font-size: 1.5em;
    padding-top: 0em;
  }
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 2em;
  font-size: 1em;
}
@media (max-width: 599px) {
  ul {
    padding-left: 20px;
    padding-right: 25px;
    font-size: 0.5em;
  }
}

.plat {
  text-align: start;
  width: 80%;
}

ul:nth-last-child(-n+1) {
  padding-bottom: 50px;
}
@media (max-width: 599px) {
  ul:nth-last-child(-n+1) {
    padding-bottom: 20px;
  }
}

.next {
  display: flex;
  justify-content: space-around;
  background-color: #368062;
  color: #FFCA28;
  width: 22%;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 75px;
  font-size: 1.75em;
  border-radius: 10px;
}
.next__p {
  margin: 0px 20px 10px 20px;
}
@media (max-width: 599px) {
  .next {
    font-size: 1.25em;
    width: 250px;
    margin-bottom: 60px;
  }
}

.point {
  opacity: 0;
  font-size: 1.75em;
  color: #FFCA28;
  padding: 3px;
  animation: point 1500ms both infinite ease-in-out alternate;
}
.point--1 {
  animation-delay: 600ms;
}
.point--2 {
  animation-delay: 1200ms;
}
.point--3 {
  animation-delay: 1800ms;
}

.menu__note i {
  position: relative;
  top: 50px;
}

a {
  text-decoration: none;
  color: #FFCA28;
}

.menus {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
@media (max-width: 599px) {
  .menus {
    width: 80%;
  }
}

.acceuil--note {
  background-color: #e4d5ce;
  font-family: "action_manbold";
  font-style: oblique;
  color: black;
  width: 35%;
  margin: 1em;
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;
}
.acceuil--note:hover h2, .acceuil--note:hover p, .acceuil--note:hover i {
  animation: zoom 200ms ease-in-out both;
}
.acceuil--note__heading {
  background: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media (max-width: 599px) {
  .acceuil--note {
    width: 100%;
    padding: 50px;
  }
}
.acceuil--chic {
  background-color: #e6e6e6;
  font-family: "GreatVibes";
  font-style: bold;
  color: #D8852E;
  width: 35%;
  margin: 1em;
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;
}
.acceuil--chic:hover h2, .acceuil--chic:hover p, .acceuil--chic:hover i {
  animation: zoom 200ms ease-in-out both;
}
.acceuil--chic__heading {
  background: linear-gradient(to right, #D8852E, 50%, #A466C7, #8F5AFF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media (max-width: 599px) {
  .acceuil--chic {
    width: 100%;
    padding: 50px;
  }
}
.acceuil--delice {
  background-color: #e6e6e6;
  font-family: "KaushanScript";
  font-style: oblique;
  color: #0670F3;
  width: 35%;
  margin: 1em;
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;
}
.acceuil--delice:hover h2, .acceuil--delice:hover p, .acceuil--delice:hover i {
  animation: zoom 200ms ease-in-out both;
}
.acceuil--delice__heading {
  background: linear-gradient(to right, #0431DF, 40%, #00B3F9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media (max-width: 599px) {
  .acceuil--delice {
    width: 100%;
    padding: 50px;
  }
}
.acceuil--palette {
  background-color: #e6e6e6;
  font-family: "Sofia";
  font-style: oblique;
  color: #3E923A;
  width: 35%;
  margin: 1em;
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;
}
.acceuil--palette:hover h2, .acceuil--palette:hover p, .acceuil--palette:hover i {
  animation: zoom 200ms ease-in-out both;
}
.acceuil--palette__heading {
  background: linear-gradient(to right, #3E923A, 40%, #BEFF7F);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media (max-width: 599px) {
  .acceuil--palette {
    width: 100%;
    padding: 50px;
  }
}

@media (max-width: 599px) {
  .acceuil--note i {
    position: relative;
    top: 20px;
  }
}

article p {
  font-size: 1.75em;
  font-weight: bolder;
}

.menu {
  width: 50%;
  margin: auto;
  text-align: center;
}
.menu__note {
  font-family: "action_manbold";
  background-color: #e4d5ce;
}
.menu__note__h3 {
  background: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu__chic {
  font-family: "GreatVibes";
  background-color: #e6e6e6;
}
.menu__chic__h3 {
  background: linear-gradient(to right, #D8852E, 50%, #A466C7, #8F5AFF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu__delice {
  font-family: "KaushanScript";
  background-color: #e6e6e6;
}
.menu__delice__h3 {
  background: linear-gradient(to right, #0431DF, 40%, #00B3F9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu__palette {
  font-family: "Sofia";
  background-color: #e6e6e6;
}
.menu__palette__h3 {
  background: linear-gradient(to right, #3E923A, 40%, #BEFF7F);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media (max-width: 599px) {
  .menu {
    width: 80%;
    padding-top: 0px;
    padding-bottom: 50px;
  }
}

.menu__chic--1 {
  color: #D8852E;
}
.menu__chic--2 {
  color: #A56799;
}
.menu__chic--3 {
  color: #905BFD;
}

/*# sourceMappingURL=style.css.map */
