$color-primary: #319678;
$color-secondary: #FFCA28;
$color-note: #e4d5ce;
$color-bg: white;

 @mixin dimension {
     width: 35%;
     padding-top: 15em;
     padding-bottom: 15em;
    text-align: center;
 }

.header {
    color: $color-secondary;
    background-color: $color-primary;
    &__heading {
        text-align: center;
        padding: 1em;
    }
}

$menu-input: (
  note: (
      bg: $color-note,
      ff: Arial,
   ),
  chic: (
      bg: $color-bg,
      ff: 'Bookman old Style',
  ),
  delice: (
      bg: $color-bg,
      ff: Georgia,
  ),
  palette: (
    bg: $color-bg,
    ff: 'Times New Roman',
  )
);

@mixin menu-style($palettes) {
    @each $type, $palette in $palettes{
        &--#{$type}{
          background-color: map-get($palette, bg);
          font-family: map-get($palette, ff);
          padding: map-get($palette, pad);
          @include dimension;
        }
    }
}

.menus {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu {
    @include menu-style($menu-input);
}