$color-primary: #368062;
$color-secondary: #FFCA28;
$color-note: #e4d5ce;
$color-bg: white;
$font-size: 0.5em, 1em, 1.5em, 2em, 2.5em, 3em;
$margin-top: 10px;
$margin-bottom: 10px;
$margin-right: 0px;
$margin-left: 0px;

$menu-input: (
  note: (
    bg: $color-note,
    ff: Arial,
    fs: italic,
    col: black,
  ),
  chic: (
    bg: $color-bg,
    ff: 'Bookman old Style',
    fs: normal,
    col: #ca7906,
  ),
  delice: (
    bg: $color-bg,
    ff: Georgia,
    fs: italic,
    col: #0ac9e1,
  ),
  palette: (
    bg: $color-bg,
    ff: 'Times New Roman',
    fs: italic,
    col: #37d00b,
  )
);

@mixin margin ($mt: $margin-top, $mr: $margin-right, $mb: $margin-bottom, $ml: $margin-left){
    margin: $mt $mr $mb $ml;
}

@mixin dimension {
    width: 35%;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: center;
}

@mixin menu-style($palettes) {
    @each $type, $palette in $palettes{
        &--#{$type}{
          background-color: map-get($palette, bg);
          font-family: map-get($palette, ff);
          font-style: map-get($palette , fs);
          color: map-get($palette, col);
          @include dimension;
        }
    }
}

.header {
    color: $color-secondary;
    background-color: $color-primary;
    &__heading {
        font-size: nth($font-size, 6);
        text-align: center;
        padding: 0.5em;
    }
}

.menus {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu {
    @include menu-style($menu-input);
}

h2 {
    font-size: nth($font-size, 3);
}

i {
    position: relative;
    top: 20px;
}

article p {
    font-size: nth($font-size, 4);
}

.next {
    display: flex;
    justify-content: space-around;
    background-color: $color-primary;
    color: $color-secondary;
    margin: auto;
    width: 20%;
    font-size: nth($font-size, 3);
    border-radius: 10px;
    &__p {
        @include margin
    }
}

a {
    text-decoration: none;
    color: $color-secondary;
}

.footer {
    color: $color-secondary;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    &__mention {
        @include margin($ml: 15px);
        font-size: nth($font-size, 3);
    }
    &__contact {
        @include margin($mr: 15px);
        font-size: nth($font-size, 3);
    }
}