ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: nth($pix, 1);
    padding-top: nth($pix, 1);
    padding-right: nth($pix, 7);
    font-size: nth($font-size, 3);
    @media (max-width: 599px) {
        padding-left: nth($pix, 5);
        padding-right: nth($pix, 6);
        font-size: nth($font-size, 1);
    }
}

.plat {
    text-align: start;
    width: 80%;
}


ul:nth-last-child(-n+1) {
    padding-bottom: 50px;
    @media (max-width: 599px) {
        padding-bottom: nth($pix, 5);
    }
}