ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 2em;
    font-size: nth($font-size, 3);
    @media (max-width: 599px) {
        padding-left: 20px;
        padding-right: 25px;
        font-size: nth($font-size, 1);
    }
}

.plat {
    text-align: start;
    width: 80%;
}


ul:nth-last-child(-n+1) {
    padding-bottom: 50px;
    @media (max-width: 599px) {
        padding-bottom: 20px;
    }
}