h2 {
    font-size: nth($font-size, 7);
}

h3 {
    font-size: nth($font-size, 8);
    padding: 30px;
    @media (max-width: 599px) {
        font-size: nth($font-size, 5);
        padding-bottom: 10px;
    }
}

h4 {
    font-size: nth($font-size, 5);
    margin-bottom: 15px;
    &:hover {
        & + .soulignement {
            transform: scalex(1);
        }
    }
    @media (max-width: 599px) {
        font-size: nth($font-size, 3);
    }
}

.h4 {
    @include trait-h4($trait-h4);
    &__palette{
        &::after{
            background: linear-gradient(to right, #BEFF7F, 70%, $color-palette);
        }
    }
}

.soulignement {
    position: relative;
    margin: auto;
    bottom: 22px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform $delay;
    border-top: 2px solid;
    @include style-soulignement($style-soulignement);
}

h5 {
    font-size: nth($font-size, 7);
    padding: 30px;
    @media (max-width: 599px) {
        font-size: 1.50em;
        padding-top: 0em;
    }
}