h2 {
    font-size: nth($font-size, 3);
}

h3 {
    font-size: nth($font-size, 5);
    padding: 30px;
}

h4 {
    font-size: nth($font-size, 3);
    &:hover {
        & + .soulignement {
            transform: scalex(1);
        }
    }
}

.h4 {
    @include trait-h4($trait-h4);
    &__palette{
        &::after{
            background: linear-gradient(to right, #BEFF7F, 70%, $color-palette);
        }
    }
}

.soulignement {
    position: relative;
    margin: auto;
    bottom: 35px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform $delay;
    border-top: 2px solid;
    @include style-soulignement($style-soulignement);
}

h5 {
    font-size: nth($font-size, 4);
    padding: 30px;
}