.menus {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    @media (max-width: 599px) {
        width: 80%;
    }
}

.acceuil {
    @include acceuil-style($menu-input);
}

article p {
    font-size: nth($font-size, 6);
    font-weight: bolder;
}