.menus {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    @media (max-width: 599px) {
        width: 80%;
    }
}

.acceuil {
    width: 35%;
    margin: nth($pix, 4);
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    @include acceuil-style($menu-input);
    &:hover {
        h2, p, i {
        animation: zoom 200ms ease-in-out both;
        }
    }
    @media (max-width: 599px) {
        width: 100%;
        padding: nth($pix, 8);
    }
}

.acceuil--note i {
    @media (max-width: 599px) {
        position: relative;
        top: nth($pix, 5);
    }
}

article p {
    font-size: nth($font-size, 6);
    font-weight: bolder;
}