@mixin acceuil-style($palettes) {
    @each $type, $palette in $palettes{
        &--#{$type}{
          background-color: map-get($palette, bg);
          font-family: map-get($palette, ff);
          font-style: map-get($palette , fs);
          color: map-get($palette, col);
          &:hover {
            h2, p, i {
            animation: zoom 200ms ease-in-out both;
            }
          }
          @include dimension;
            &__heading {
                background: map-get($palette, grad);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
            @media (max-width: 599px) {
                width: 100%;
                padding: nth($pix, 8);
            }
        }
    }
}

@mixin font-menu($palettes) {
    @each $key, $palette in $palettes{
        &__#{$key}{
            font-family: map-get($palette, ff);
            background-color: map-get($palette , bg);
            &__h3{
                background: map-get($palette, grad);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
    }
}

@mixin chic-parti($palettes) {
    @each $key, $palette in $palettes {
        &--#{$key}{
            color: map-get($palettes , $key);
        }
    }
}

@mixin style-soulignement($palettes) {
    @each $key, $palette in $palettes {
        &__#{$key}{
            border-color: map-get($palette , bg);
            width: map-get($palette , wth);
        }
    }
}

@mixin trait-h4($palettes) {
    @each $key, $palette in $palettes {
        &__#{$key}{
            &::before {
                content: "";
                @include position-trait;
                margin-left: 40px;
                background: map-get($palette, bg);
                top: map-get($palette, top);
                border: map-get($palette, border);
                @media (max-width: 599px) {
                    width: 8%;
                    margin-left: nth($pix, 5);
                    top: map-get($palette, topmedia);
                }
            }
            &::after {
                content: "";
                @include position-trait;
                left: 70%;
                background: map-get($palette, bg);
                bottom: map-get($palette, bot);
                border: map-get($palette, border);
                @media (max-width: 599px) {
                    width: 8%;
                    bottom: 12px;
                    left: 84%;
                }
            }
        }
    }
}