@mixin acceuil-style($palettes) {
    @each $type, $palette in $palettes{
        &--#{$type}{
          background-color: map-get($palette, bg);
          font-family: map-get($palette, ff);
          font-style: map-get($palette , fs);
          color: map-get($palette, col);
          &:hover {
            h2, p, i {
            animation: zoom 200ms ease-in-out both;
            }
          }
          @include dimension;
            &__heading {
                background: map-get($palette, grad);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
    }
}

@mixin font-menu($palettes) {
    @each $key, $palette in $palettes{
        &__#{$key}{
            font-family: map-get($palette, ff);
            background-color: map-get($palette , bg);
            &__h3{
                background: map-get($palette, grad);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
    }
}

@mixin chic-parti($palettes) {
    @each $key, $palette in $palettes {
        &--#{$key}{
            color: map-get($palettes , $key);
        }
    }
}

@mixin style-soulignement($palettes) {
    @each $key, $palette in $palettes {
        &__#{$key}{
            border-color: map-get($palette , bg);
            width: map-get($palette , wth);
        }
    }
}

@mixin trait-h4($palettes) {
    @each $key, $palette in $palettes {
        &__#{$key}{
            &::before {
                content: "";
                display: flex;
                position: relative;
                width: nth($width, 5); 
                margin-left: 40px;
                height: 2px;
                background: map-get($palette, bg);
                top: map-get($palette, top);
                border: map-get($palette, border);
                border-radius: 100px;
            }
            &::after {
                content: "";
                display: flex;
                position: relative;
                width: nth($width, 5); 
                height: 2px;
                background: map-get($palette, bg);
                bottom: map-get($palette, bot);
                left: 70%;
                border: map-get($palette, border);
                border-radius: 100px;
            }
        }
    }
}