
$menu-input: (
  note: (
    bg: $bg-note,
    ff: $font-note,
    fs: oblique,
    col: $color-note,
    grad: $color-note,
  ),
  chic: (
    bg: $color-bg,
    ff: $font-chic,
    fs: bold,
    col: $color-chic-1,
    grad: $grad-chic,
  ),
  delice: (
    bg: $color-bg,
    ff: $font-delice,
    fs: oblique,
    col: $color-delice-2,
    grad: $grad-delice,
  ),
  palette: (
    bg: $color-bg,
    ff: $font-palette,
    fs: oblique,
    col: $color-palette,
    grad: $grad-palette,
  )
);
  
$chic-parti: (
    1: $color-chic-1, 
    2: $color-chic-2, 
    3: $color-chic-3,
);

$style-soulignement: (
  note1: (
    bg: $color-note,
    wth: nth($width, 1)
  ),
  note2: (
    bg: $color-note,
    wth: nth($width, 5)
  ),
  note3: (
    bg: $color-note,
    wth: nth($width, 7)
  ),
  chic1: (
    bg: $color-chic-1,
    wth: nth($width, 6)
  ),
  chic2: (
    bg: $color-chic-2,
    wth: nth($width, 4)
  ),
  chic3: (
    bg: $color-chic-3,
    wth: nth($width, 4)
  ),
  palette1: (
    bg: $color-note,
    wth: nth($width, 1)
  ),
  palette2: (
    bg: $color-note,
    wth: nth($width, 6)
  ),
  palette3: (
    bg: $color-note,
    wth: nth($width, 7)
  ),
  delice1: (
    bg: $color-note,
    wth: nth($width, 7)
  ),
  delice2: (
    bg: $color-note,
    wth: nth($width, 6)
  ),
  delice3: (
    bg: $color-note,
    wth: nth($width, 6)
  ),
);

$trait-h4: (
  note: (
    bg: $color-note,
    border: 0.1px solid $color-note,
    top: nth($pix, 4),
    bot: 18px,
    topmedia: 12px,
  ),
  chic1: (
    bg: $color-chic-1,
    border: 0.1px solid $color-chic-1,
    top: nth($pix, 4),
    bot: nth($pix, 5),
    topmedia: 12px,
  ),
  chic2: (
    bg: $color-chic-2,
    border: 0.1px solid $color-chic-2,
    top: nth($pix, 4),
    bot: nth($pix, 5),
    topmedia: 12px,
  ),
  chic3: (
    bg: $color-chic-3,
    border: 0.1px solid $color-chic-3,
    top: nth($pix, 4),
    bot: nth($pix, 5),
    topmedia: 12px,
  ),
  delice1: (
    bg: $color-delice-1,
    border: 0.1px solid $color-delice-1,
    top: nth($pix, 5),
    bot: nth($pix, 5),
    topmedia: nth($pix, 4),
  ),
  delice2: (
    bg: $color-delice-2,
    border: 0.1px solid $color-delice-2,
    top: nth($pix, 5),
    bot: nth($pix, 5),
    topmedia: nth($pix, 4),
  ),
  delice3: (
    bg: $color-delice-3,
    border: 0.1px solid $color-delice-3,
    top: nth($pix, 5),
    bot: nth($pix, 5),
    topmedia: nth($pix, 4),
  ),
  palette: (
    bg: $grad-palette,
    border: display,
    top: nth($pix, 7),
    bot: 17px,
    topmedia: nth($pix, 4),
  ),
)
