@mixin margin ($mt: nth($pix, 3), $mr: nth($pix, 1), $mb: nth($pix, 3), $ml: nth($pix, 1)){
    margin: $mt $mr $mb $ml;
}

@mixin position-trait {
    display: flex;
    position: relative;
    width: nth($width, 5);
    height: 2px;
    border-radius: 100px;
}