$color-primary: #368062;
$color-secondary: #FFCA28;
$bg-note: #e4d5ce;
$color-bg: white;

$font-size: 0.5em, 1em, 1.5em, 2em, 2.5em, 3em;
$font-note: 'action_manbold';
$font-chic: 'GreatVibes';
$font-delice: 'KaushanScript';
$font-palette: 'Sofia';

$margin-top: 10px;
$margin-bottom: 10px;
$margin-right: 0px;
$margin-left: 0px;

$color-note: black;
$color-chic: #C77412;
$color-delice: #0887FB;
$color-palette: #3E923A;

$grad-chic: linear-gradient(to right, $color-chic, #8F5AFF);
$grad-delice: linear-gradient(to right, #0229DD, $color-delice);
$grad-palette: linear-gradient(to right, $color-palette, #BEFF7F);