.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    color: $color-secondary;
    background-color: $color-primary;
    &__element {
    display: flex;
    justify-content: space-between;
    }
    &__mention {
        @include margin($ml: 20px);
        font-size: nth($font-size, 6);
        &:hover {
            animation: headshake 150ms cubic-bezier(.4,.1,.6,.9) 3;
        }
        @media (max-width: 599px) {
            font-size: nth($font-size, 4);
        }
    }
    &__contact {
        @include margin($mr: 20px);
        font-size: nth($font-size, 6);
        right: 0px;
        &:hover {
            animation: headshake 150ms cubic-bezier(.4,.1,.6,.9) 3;
        }
        @media (max-width: 599px) {
            font-size: nth($font-size, 4);
        }
    }
}