.footer {
    position: fixed;
    width: 100%;
    bottom: nth($pix, 1);
    color: $color-secondary;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    &__mention {
        @include margin($ml: nth($pix, 5));
        font-size: nth($font-size, 6);
        &:hover {
            animation: headshake 150ms cubic-bezier(.4,.1,.6,.9) 3;
        }
        @media (max-width: 599px) {
            font-size: nth($font-size, 4);
        }
    }
    &__contact {
        @include margin($mr: nth($pix, 5));
        font-size: nth($font-size, 6);
        right: nth($pix, 1);
        &:hover {
            animation: headshake 150ms cubic-bezier(.4,.1,.6,.9) 3;
        }
        @media (max-width: 599px) {
            font-size: nth($font-size, 4);
        }
    }
}