.header {
    position: relative;
    bottom: nth($pix, 7);
    color: $color-secondary;
    background-color: $color-primary;
    &__heading {
        font-size: nth($font-size, 9);
        text-align: center;
        padding: 0.3em;
        @media (max-width: 599px) {
            font-size: nth($font-size, 8);
        }
    }
}